/**=====================
 4.3 Contact Page scss
 ==========================**/
 .contact-section .contact-box {
     text-align: center;
     gap: 60px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
   }
   @media (max-width: 991px) {
     .contact-section .contact-box {
       gap: 40px;
     }
   }
   @media (max-width: 991px) {
     .contact-section .contact-box li {
       width: calc(50% - 50px);
     }
   }
   @media (max-width: 430px) {
     .contact-section .contact-box li {
       width: 100%;
     }
   }
   .contact-section .contact-box .contact-icon {
     width: calc(67px + (77 - 67) * ((100vw - 320px) / (1920 - 320)));
     height: calc(67px + (77 - 67) * ((100vw - 320px) / (1920 - 320)));
     padding: 15px;
     border-radius: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     background: rgba(var(--title-color));
     border: 1px solid rgba(var(--title-color));
     margin: 0 auto 15px;
   }
   .contact-section .contact-box h3 {
     color: rgba(var(--theme-color));
     margin-bottom: 10px;
   }
   .contact-section .contact-box h4 {
     margin-bottom: 0;
     color: rgba(var(--content-color));
     line-height: 1.3;
   }
   .contact-section .contact-details {
     background: rgba(var(--title-color));
     border: 1px solid rgba(var(--title-color));
     padding: 50px;
     margin-top: 38px;
   }
   @media (max-width: 1199px) {
     .contact-section .contact-details {
       padding: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
     }
   }
   .contact-section .contact-details .map-sec {
     height: 100%;
     position: relative;
   }
   @media (max-width: 991px) {
     .contact-section .contact-details .map-sec {
       height: 210px;
     }
   }
   .contact-section .contact-details .map-sec iframe {
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
   }
   