/*=====================
 2.3 Button Scss start
 ==========================*/
 :root {
  --black: 0, 0, 0;
  --white: 255, 255, 255;
  --title-color: 245, 245, 245;
  --content-color: 156, 157, 159;
  --theme-color: 59, 237, 178;
  --dark-title: 13, 18, 31;
  --Iconsax-Color: #6e7179;
  --secondary-color: 244, 137, 65;
  --warning-color: 255, 189, 48;
  --info-color: 220, 154, 254;
  --danger-color: 157, 145, 255;
}
.btn {
  font-size: 22px;
  color: rgba(var(--theme-color));
  font-weight: 500;
}
.btn-theme {
  position: relative;
  display: flex;
  text-align: center;
  font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
  background: rgba(59, 237, 178,0.1);
  backdrop-filter: blur(6px);
  border-radius: 8px;
  padding: calc(10px + (12 - 10) * ((100vw - 320px) / (1920 - 320))) calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320)));
}
.btn-theme span {
  margin: auto;
  color: rgba(59, 237, 178,1);
}
.btn-theme:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  background: linear-gradient(114.72deg, rgba(62, 255, 255, 0.5) -16.82%, rgba(58, 237, 177, 0.5) 59.74%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  /* [2] */
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  border: 1px solid;
  border-image-source: linear-gradient(114.72deg, rgba(62, 255, 255, 0.5) -16.82%, rgba(58, 237, 177, 0.5) 59.74%);
}
.btn-theme:hover {
  background: rgba(59, 237, 178,0.1);
  box-shadow: 0 0 17px 3px rgba(52, 208, 156, 0.34);
}
.btn-arrow {
  color: rgba(var(--theme-color));
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 18px;
  width: max-content;
}
.btn-arrow .icon-arrow {
  width: calc(36px + (42 - 36) * ((100vw - 320px) / (1920 - 320)));
  height: calc(36px + (42 - 36) * ((100vw - 320px) / (1920 - 320)));
  background-color: rgba(59, 237, 178,0.5);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #0f141d;
  position: relative;
  transition: all 0.5s ease;
}
.btn-arrow .icon-arrow:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(59, 237, 178,0.5);
  border-radius: 100%;
  right: -8px;
  transition: all 0.5s ease;
}
.btn-arrow .icon-arrow svg {
  stroke: rgba(var(--dark-title));
  fill: rgba(var(--dark-title));
  transform: rotate(45deg);
  width: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
  transition: all 0.5s ease;
}
.btn-arrow:hover {
  color: rgba(var(--theme-color));
}
.btn-arrow:hover .icon-arrow {
  transform: translateX(5px);
}
.btn-arrow:hover .icon-arrow:after {
  right: 0;
}
.btn-arrow:hover .icon-arrow svg {
  transform: rotate(90deg);
}
.btn-solid {
  font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1920 - 320)));
  color: rgba(var(--dark-title));
  background-color: rgba(var(--theme-color)) !important;
  border: 1px solid rgba(var(--theme-color));
  display: inline-block;
  padding: calc(8px + (12 - 8) * ((100vw - 320px) / (1920 - 320))) calc(20px + (28 - 20) * ((100vw - 320px) / (1920 - 320)));
  border-radius: 8px;
  width: max-content;
  transition: all 0.5s ease;
}
.btn-solid:hover {
  background-color: transparent !important;
  color: rgba(59, 237, 178,1);
}
